@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	background: #ffffff;
}

/*---------- Links ----------*/

a {
  color: #2ecc71;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: #2795b6; }
  a img {
    border: none; }

/*----------Colors----------*/

.color {
	height: 8em;
	//border: 2px solid white;
}

.first {
	background: #34495e;	
}

.second {
	background: #ecf0f1;	
}

.third {
	background: #2ecc71;	
}

.fourth {
	background: #e74c3c;	
}

.fifth {
	background: red;	
}

.sixth {
	background: red;	
}

/*----------Buttons----------*/

a.medium.button {
	border: none;
}
 
button,.button {
	cursor:pointer;
	font-family:"Istok Web";
	font-weight:400;
	line-height:1;
	position:relative;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	font-size:1.1em;
	background-color:#2ecc71;
	color:#ecf0f1;
	border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	border-color:none;
	border-style:none;
	border-width:0;
	margin:0 0 .75em;
	padding:.7em 5.75em;
	min-width: 260px;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100%;
}

h3 {
	color:#FFF;
	font-family:'Lato';
	font-weight:400;
}

h2 {
	color:#FFF;
	font-family:'Lato';
	font-weight:400;
}

button:hover,button:focus,.button:hover,.button:focus {
	background-color:#58d68d;
	color:#ecf0f1;
}

button.alert,.button.alert {
	background-color:#e74c3c;
	color:#ecf0f1;
	border:none;
	border-color:none;
}

button.alert:hover,button.alert:focus,.button.alert:hover,.button.alert:focus {
	background-color:#ec7063;
	color:#ecf0f1;
}

.buttonWrapper {
	width: 40%;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	button, .button {
		width: auto;
	}
}

/*----------Forms----------*/

form h3 {
	background: #2ecc71;
	margin-bottom: 0px;
	padding: .25em .5em;
}

fieldset {
	background:#ecf0f1;
	border:none;
	margin-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	padding-bottom: 0px;
}

fieldset p {
	font-size: .8em;
	margin-bottom: 1em;
	text-align: left;
	color: #bdc0c1;
}

input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="week"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],textarea {
	background-color:#FFF;
	font-family:"Istok Web";
	border:none;
	border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:none;
	box-shadow:none;
	color: #34495e;
	display:block;
	font-size:1em;
	height:2.3125em;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:0 .45s border-color .45s ease-in-out;
	-moz-transition:0 .45s border-color .45s ease-in-out;
	transition:box-shadow .45s border-color .45s ease-in-out;
	margin:0 0 1em;
	padding:.5em;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="time"]:focus,input[type="url"]:focus,textarea:focus {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#2a3a4b;
	background:#fff;
	outline:none;
	border-color:none;
}

input[type="text"][disabled],input[type="password"][disabled],input[type="date"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="month"][disabled],input[type="week"][disabled],input[type="email"][disabled],input[type="number"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="time"][disabled],input[type="url"][disabled],textarea[disabled] {
	background-color:grey;
}

.error input,input.error,.error textarea,textarea.error, .error input:focus,input.error:focus,.error textarea:focus,textarea.error:focus {
	border:2px solid #e74c3c;
	color:#e74c3c;
	background:#FFF;
	background: url(../img/icons/xIcon.png) no-repeat scroll 98% 9px #ffffff;
	background-size: 17px;
}

.valid input, input.valid, .valid textarea, textarea.valid, .valid input:focus,input.valid:focus,.valid textarea:focus,textarea.valid:focus {
	border:2px solid #2ecc71;
	color:#2ecc71;
	background: url(../img/icons/checkIcon.png) no-repeat scroll 98% 9px #ffffff;
	background-size: 20px;
}

.user input, input.user, .user textarea, textarea.user, .user input:focus, input.user:focus, .user textarea:focus, textarea.user:focus {
	padding-right: 30px; 
	background: url(../img/icons/userIcon.png) no-repeat scroll 98% 8px #ffffff; 
	background-size: 17px;
}

.pass input, input.pass, .pass textarea, textarea.pass, .pass input:focus, input.pass:focus, .pass textarea:focus, textarea.pass:focus {
	background: url(../img/icons/keyIcon.png) no-repeat scroll 98% 10px #ffffff; 
	background-size: 17px;	
}

/*----------Menu----------*/

.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #ecf0f1;
  margin-bottom: 1.875em;
  font-family: "Istok Web";
  font-weight: normal; 
}

.top-bar-section li a:not(.button){
	background: #ecf0f1;
}

.top-bar-section ul li > a {
	font-weight: normal;
	font-family: "Istok Web";
}

.top-bar .name h1 a {
	font-family: "Istok Web";
	color: #34495e;
	font-size: 1.25em;
	margin-top: .1em;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	border-color: white;
}

.top-bar input {
	height: 1.8em;
	padding: .1em .5em;
}

.top-bar .toggle-topbar.menu-icon a {
	color: black;
}

.top-bar.expanded {
	background: #ecf0f1;
}

.top-bar .name h1 {
	background: #ecf0f1;
}

.searchInput {
	background: url(../img/icons/magGlassIcon.png) no-repeat scroll 98% 4px #ffffff; 
	background-size: 17px;
	border: 2px #bdc0c1 solid;	
	color: #34495e;
}

nav img {
	margin: 0 auto;
}

/*---------- Nav ----------*/

nav.breadcrumbs {
	display: inline;
	float: left;
	margin: 93px 10px 0 0;
	background: none;
	border: none;
}

nav.breadcrumbs > * {
	color: #2ecc71;
}

/*---------- Header ----------*/

.wrapper{
	width: 100%;
	background: #2a3a4b; 
}

.header-wrapper {
	width: 1080px;
	max-width: 100%;
	margin: 0 auto 1em auto;
	overflow: auto;
	background: #2a3a4b;
}

img.logo {
	display: block;
	width: 70px;
	max-width: 100%;
	float: left;
	margin: 15px 0px 0 20px;
}

img.logo.center {
	float: none;
	margin: 15px auto 0px auto;
}

input.searchInput {
	float: right;
	font-size: .75em;
	width: 200px;
	max-width: 100%;
	margin: 100px 20px 0 0;
}

/*---------- Footer ----------*/

.bottom-wrapper{
	width: 100%;
	background: #ecf0f1;
}

.footer-wrapper {
	width: 1080px;
	max-width: 100%;
	margin: 1em auto 0 auto;
	overflow: auto;
}

 ul.inline-list {
	margin-bottom: 0px;
}

.footer-wrapper nav.breadcrumbs {
	margin: 1em 0em .55em 0em;
}

.footer-wrapper p {
	padding: 0.5625em 0.875em 0.5625em;
	margin: .75em 0em .55em 0em;
	font-size: .9em;
	float: right;
	color: #2ecc71;
}


/*---------- Image Grid ----------*/

.grid-wrapper {
	width: 1080px;
	max-width: 80%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.preview ul {
	width: 100%;
	margin: 0 auto;
}

.preview li {
	width: 66%;
	list-style: none;
	float: left;
	background: #ecf0f1;
	position: relative;
	overflow: hidden;
	margin: 5% 16%;
}

.preview img {
	display: block;
	max-width: 100%;
	transition: all .3s ease-in .2s;
	-webkit-transition: all .3s ease-in .2s;
	-moz-transition: all .3s ease-in .2s;
}

.caption {
  position: absolute;
  bottom: -40px;
  height: 60px;
  width: 100%;
  padding: 20px 10px 20px 10px;
  transition: all .3s ease-in .2s;
  -webkit-transition: all .3s ease-in .2s;
  -moz-transition: all .3s ease-in .2s; 
  background: #ecf0f1;
}

.caption:after {
 content: "";  
 border-left: 8px solid transparent;
 border-right: 8px solid transparent;
 border-bottom: 8px solid #2ecc71;
 position: absolute;
 top: 5px;
 left: 50%;
 margin-left: -8px; 
} 

.caption p {
	margin-top: 0px;
}

.caption .icon {
	float: right;
}

.imgOpen {
  max-width: 100%;
  left: 0;  
}

.open {
    bottom: 0px;
}

.caption a img {
	width: 32px;
	display: inline;
	padding: 0 5px 0 0;
}

.button-wrapper {
	margin: 0 auto;
	width: 580px;
	max-width: 100%;
	overflow: auto;
	padding: 0 1em; 
}

.button-wrapper form {
	margin-right: .5em;
	float: right;
}

@media only screen and (min-width: 620px) {
	
	.preview li {
		width: 46%;
		margin: 2%;
	}

}

@media only screen and (min-width: 960px) {
	
	.preview li {
		width: 30%;
		margin: 1.1% 1.65%;
	}
	
}

/*---------- Project Detail ----------*/

.details {
	background:#ffffff;
	margin-top: 1em;
	width: 600px;
	max-width: 100%;
	margin: 1em auto;
	padding-top: 1em;
}

.details a .avatar{
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	max-width: 100%;
}

.project_wrapper {
	width: 80%;
	margin: 0 auto;
}

img.projectDetail {
	display: block;
	max-width: 100%;
	margin: 1em auto;
	padding: 1em;
	background: #ecf0f1;
}

.details h2{
	font-size: 1.2em;
	margin: 0px;
	padding-bottom: 0px;
	color: #444444;
	line-height: 1em;
}

.icon {
	display: inline-block;
	width: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

/*---------- Terms ----------*/

.terms{
	background:#ecf0f1;
	width: 680px;
	max-width: 100%;
	margin: 1em auto;
	padding-bottom: 1em;
	overflow: auto;
}

.terms h2{
	color: #ffffff;
	background: #2ecc71;
	margin-bottom: 0px;
	padding: .25em .5em;
}

.terms h3 {
	color: #444444;
	padding: .25em 1.2em;
}

.terms p {
	color: #444444;
	padding: .25em 2em;
}

.terms ol {
	padding: .25em 2em .25em 3.5em;
}

.terms ul {
	padding: .25em 2em .25em 3.5em;
}

 p.addPad {
	padding-top: 1em;
}

/*---------- Alert Box ----------*/

#flashMessage {
	color: #34495e;
	padding: 10px;
	background: #ecf0f1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
}



